
#code, iframe, #done1, #bad, #done2, #finish, #notitle, #nonumber, 
#submit2, #required, #doneall, #donetext, #alltutorialdone, #alltutorialdone2 {
	display: none;
}
#terminal, .span4, #console, #code, iframe, #start {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

body, .row-fluid, #terminal, iframe, #start{
	background-color:#fff;
}

body, html, .row-fluid, .container-fluid {
	height: 100%;
}

#done1, #bad, #done2, #finish {
	margin:0;
}

#choosetitle> p, #choosenumber> p, #title, #number {
	display:inline;
}

#code, iframe, #start {
	border:2px solid #F89406;
}

iframe, #start {
	width:100%;
	height:393px;	
}

#title, #number {
	height:30px;
}

#titleset, #ok {
	margin-right:230px;
}

#lessontext, #assigntext {
	width:350px;
}

#terminal {
	position:relative;
	margin:20px 10px 5px;
	padding:3px 35px;
	*padding-top:19px;
	width: 66.75%;
	
}

.span4 {
	position:relative;
	margin-top: 2px;
	padding:0px 20px 10px;
}

#console {
	position:relative;
	width: 98%;
	margin:10px 0;
	padding:9px;
	background-color:#1B1B1B;
	color: #fff;
	text-shadow:0 -1px 0 black;
}

#code {
	width: 98.57%;
	height:385px;
	box-shadow:0px 0px 0px;
}

iframe {
	margin-bottom:5px;
}

#start {
	margin-bottom:10px;
} 

#drop {
	width: 60%;;
	height: 16%;
	margin-top: 16%;
	margin-left: 20%;
	color: #B7B6B6;
	padding: 7px;
	border:4px dashed #CCCCCC;
}

.nav-pills {
	margin-bottom:20px;
	font-size:16px;
}

h1 {
	color:#F89406;
	text-shadow: 1px 2px 1px #BA6F04;
}

pre {
	border-color:#F89406;
	background-color:#FCF1E4;
}

#download {
	margin-right:190px;
}

#lessontext {
	height:190px;
}

#required {
	color:red;
}

small {
	margin-right: 2.5%;
}
